{% extends "base.html" %}


{% block title %}
    {{ titre }}
{% endblock %}


{% block content %}

    <h2>
        {{ titre }}
    </h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="bouton bouton-principal"
        >
            Enregistrer
        </button>

    </form>

    <p>
        <a
            href="{% url 'bibliothecaire:liste_membres' %}"
            class="bouton bouton-secondaire"
        >
            Retour à la liste
        </a>
    </p>

{% endblock %}