{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Médiathèque
        {% endblock %}
    </title>
</head>

<body>
        
    <header class="header">

        <div class="container">

            <h1>
                Notre livre, notre média
            </h1>

            <nav class="navigation">

                <a href="{% url 'membre:liste_medias' %}">
                    Catalogue
                </a>

                <a href="{% url 'bibliothecaire:tableau_bord' %}">
                    Espace bibliothécaire
                </a>

                {% if user.is_authenticated %}

                    <span class="utilisateur">
                        {{ user.username }}
                    </span>

                    <form
                        method="post"
                        action="{% url 'logout' %}"
                        class="form-deconnexion"
                    >

                        {% csrf_token %}

                        <button
                            type="submit"
                            class="bouton bouton-secondaire"
                        >
                            Déconnexion
                        </button>

                    </form>

                {% else %}

                    <a href="{% url 'login' %}">
                        Connexion
                    </a>

                {% endif %}

            </nav>

        </div>

    </header>


    <main class="container contenu">

        {% block content %}
        {% endblock %}

    </main>


    <footer class="footer">

        <div class="container">
            Médiathèque Django
        </div>

    </footer>

</body>

</html>